/*DS4 AlpineGreen start*/
.controller.custom {
    background: url(https://github.com/CoopeZz/CoopeZz.github.io/blob/master/DS4/%5BDS4%5D%20Alpine%20Green/%5BDS4%5D%20Alpine%20Green%20Exported/base.png?raw=true);
    height: 599px;
    width: 807px;
}
.custom.disconnected {
    background: url(https://github.com/CoopeZz/CoopeZz.github.io/blob/master/DS4/%5BDS4%5D%20Alpine%20Green/%5BDS4%5D%20Alpine%20Green%20Exported/disconnected.png?raw=true);
    height: 598px
}
.custom.disconnected div {
    display: none;
}
.custom .triggers {
    width: 589px;
    height: 101px;
    position: absolute;
    left: 108px;
}
.custom .trigger {
    width: 100px;
    height: 91%;
    background: url(https://github.com/CoopeZz/CoopeZz.github.io/blob/master/DS4/%5BDS4%5D%20Alpine%20Green/%5BDS4%5D%20Alpine%20Green%20Exported/triggers.png?raw=true);
    opacity: 0;
}
.custom .trigger.left {
    float: left;
}
.custom .trigger.right {
    float: right;
    background-position-x: 502px;
}
.custom .bumper {
    width: 99px;
    height: 23px;
    background: url(https://github.com/CoopeZz/CoopeZz.github.io/blob/master/DS4/%5BDS4%5D%20Alpine%20Green/%5BDS4%5D%20Alpine%20Green%20Exported/bumper.png?raw=true) no-repeat;
    opacity: 0;
}
.custom .bumpers {
    position: absolute;
    width: 588px;
    height: 23px;
    left: 109px;
    top: 94px;
}
.custom .bumper.pressed {
    opacity: 1;
}
.custom .bumper.left {
    float: left;
}
.custom .bumper.right {
    float: right;
    transform: rotateY(180deg);
}
.custom .touchpad {
    width: 264px;
    height: 152px;
    position: absolute;
    left: 271px;
    top: 122px;
    background: url(https://github.com/CoopeZz/CoopeZz.github.io/blob/master/DS4/%5BDS4%5D%20Alpine%20Green/%5BDS4%5D%20Alpine%20Green%20Exported/touchpad.png?raw=true) no-repeat center;
    opacity: 0;
}
.custom .touchpad.pressed {
    opacity: 1;
}
.custom .meta {
    width: 44px;
    height: 44px;
    position: absolute;
    left: 381px;
    bottom: 216px;
    background: url(https://github.com/CoopeZz/CoopeZz.github.io/blob/master/DS4/%5BDS4%5D%20Alpine%20Green/%5BDS4%5D%20Alpine%20Green%20Exported/meta.png?raw=true) no-repeat center;
    opacity: 0;
}
.custom .meta.pressed {
    opacity: 1;
}
.custom .arrows {
    position: absolute;
    width: 353px;
    height: 46px;
    top: 142px;
    left: 227px;
}
.custom .back, .custom .start {
    background: url(https://github.com/CoopeZz/CoopeZz.github.io/blob/master/DS4/%5BDS4%5D%20Alpine%20Green/%5BDS4%5D%20Alpine%20Green%20Exported/start.png?raw=true);
    width: 29px;
    height: 47px;
    opacity: 0;
}
.custom .back.pressed, .custom .start.pressed {
    opacity: 1;
}
.custom .back {
    float: left;
}
.custom .start {
    float: right;
}
.custom .abxy {
    position: absolute;
    width: 171px;
    height: 172px;
    top: 160px;
    left: 567px;
}
.custom .button {
    position: absolute;
    width: 56px;
    height: 56px;
    background: url(https://github.com/CoopeZz/CoopeZz.github.io/blob/master/DS4/%5BDS4%5D%20Alpine%20Green/%5BDS4%5D%20Alpine%20Green%20Exported/face.png?raw=true);
    opacity: 0;
}
.custom .button.pressed {
    opacity: 1;
}
.custom .a {
    background-position: 0 0;
    bottom: 1px;
    left: 59px;
}
.custom .b {
    background-position: 840px 0;
    top: 58px;
    right: -1px;
}
.custom .x {
    background-position: 560px 0;
    top: 58px;
}
.custom .y {
    background-position: 280px 0;
    left: 58px;
}
.custom .sticks {
    position: absolute;
    width: 286px;
    height: 94px;
    top: 310px;
    left: 228px;
}
.custom .stick {
    position: absolute;
    background: url(https://github.com/CoopeZz/CoopeZz.github.io/blob/master/DS4/%5BDS4%5D%20Alpine%20Green/%5BDS4%5D%20Alpine%20Green%20Exported/sticks.png?raw=true);
    height: 94px;
    width: 96px;
}
.custom .stick.pressed.left {
    background-position-x: -382px;
}
.custom .stick.pressed.right {
    background-position-x: -762px;
    left: 255px;
}
.custom .stick.left {
    top: 0;
    left: 0;
}
.custom .stick.right {
    float: right;
    left: 257px;
}
.custom .dpad {
    position: absolute;
    width: 128px;
    height: 128px;
    top: 181px;
    left: 90px;
}
.custom .face {
    background: url(https://github.com/CoopeZz/CoopeZz.github.io/blob/master/DS4/%5BDS4%5D%20Alpine%20Green/%5BDS4%5D%20Alpine%20Green%20Exported/dpad.png?raw=true);
    position: absolute;
    opacity: 0;
}
.custom .face.up, .custom .face.down {
    width: 38px;
    height: 52px;
}
.custom .face.left, .custom .face.right {
    width: 53px;
    height: 52px;
}
.custom .face.up {
    left: 45px;
    top: 1px;
    background-position: -217px 0px;
}   
.custom .face.down {
    left: 45px;
    bottom: 0;
    background-position: 0px 0;
}
.custom .face.left {
    top: 46px;
    left: 0px;
    background-position: 466px 0;
}
.custom .face.right {
    top: 46px;
    right: 1px;
    background-position: 233px 0;
}
.custom .face.pressed {
    opacity: 1;
}
.custom.half {
    margin-top: -300px;
}
/*DS4 AlpineGreen end*/
